body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    margin-top: 0px;
    width: 85%;
}

table {
    margin-top: 2rem;
}

td {
    height: 8em;
    width: 8em;
    text-align: center;
    outline: 3px solid black;
}

footer p {
    font-size: 3rem;
    margin-top: 4rem;
}

img {
    width: 100%;
}

td p {
    font-size: 40px;
}